db_username=""
db_password=""
admin_hashed_password=""
contracts_secret_token=""
mailing_service_email=""
mailing_password=""
telegram_api_key=""
stripe_api_key=""
stripe_accounts_endpoint_secret=""
stripe_checkout_endpoint_secret=""
access_secret_key=""
refresh_secret_key=""